extends ./paneleditor

block vars
	- var settings = { name: 'hierarchyManager', controller: 'HierarchyController', title: 'Hierarchy', icon: 'hierarchy' };

block content

	//.horizontalLayout
		input#filter(type='search', placeholder='Filter', ng-model='filter.text',  ng-model-options='{ debounce: 150 }')

		custom-select(model='filter.type')
			.selectedOption
			.menu.verticalLayout
				.icon.selectnone(title='Any Type')
				.icon.models(title='Models', value='asset-vwf')
				.icon.script(title='Behaviors', value='http-vwf-example-com-behavior-vwf')
				.icon.cube(title='Primitives', value='prim2-vwf')
				.icon.hierarchy(title='Modifiers', value='modifier')
				.icon.camera(title='Cameras', value='SandboxCamera-vwf')
				.icon.light(title='Lights', value='SandboxLight-vwf')
				.icon.plane(title='Splines', value='spline-vwf')
			

	#hierarchyDisplay(tabindex='0', ng-keydown='handleKeyPress($event)')

		input#makeNode(type='button', ng-click='makeVWFNode()', value='Three.js > VWF', scroll-fixed='top right', style='top: 0px; right: 0px;'
			ng-show='selectedThreeNode && selectedThreeNode.name && !selectedThreeNode.node.vwfID'
		)

		ul: li
			tree-node-unified(node-id='index-vwf', label='Scene')


	#hierarchyNodeTemplate(ng-non-bindable, style='display: none;')

		span(ng-class='getIcon()', ng-click='toggleCollapse()')
		span.name(ng-click='vwfNode.threeId !== node.id ? select(node, $event) : null', ng-dblclick='focusNode(node.node)'
			ng-class='{"nonselectable": vwfNode.threeId === node.id, "selected": fields.selectedNodeIds.indexOf(node.id) > -1 || selectedThreeNode === node, "continues": node.continues}'
			adl-scroll-to='node.id === fields.selectedNode.id || node.id === selectedThreeNode.id'
		)
			| {{label || node.name || node.id}}

		ul
			li(ng-repeat='child in node.children', ng-if='!isBound(child)')
				tree-node.collapsed(node-id='{{node.prototype !== "threejs_node" ? child : ""}}'
					three-id='{{node.prototype === "threejs_node" ? child : ""}}')

			li(ng-if='node.threeMap && hasUnboundChild(node.threeMap[node.threeId])')
				tree-node.three.collapsed(three-id='{{node.threeId}}', label='unbound-nodes')

	#hierarchyNodeUnifiedTemplate(ng-non-bindable, style='display: none;')

		span.hierarchyicon(ng-click='toggleCollapse()')
		span.name(ng-click='select("[[nodeId]]" || "[[threeId]]", "[[assetRoot]]", $event)'
			ng-dblclick='focusNode("[[nodeId]]")'
			ng-class='{\
				selected: fields.selectedNodeIds.indexOf("[[nodeId]]") > -1 || selectedThreeNode.id === "[[threeId]]", \
				nonselectable: fields.nodes["[[assetRoot]]"].threeId === "[[threeId]]", \
				continues: fields.nodes["[[nodeId]]"].continues \
			}'
			adl-scroll-to='"[[nodeId]]" === fields.selectedNode.id || selectedThreeNode.id === "[[threeId]]"'
		)
			| {{"[[label]]" || fields.nodes["[[nodeId]]"].name || "[[nodeId]]" || threeMaps["[[assetRoot]]"].map["[[threeId]]"].name || "[[threeId]]"}}

		ul
			li(ng-repeat='child in fields.nodes["[[nodeId]]"].children')
				tree-node-unified.collapsed(node-id='{{child}}')

			li(ng-repeat='child in threeMaps["[[assetRoot]]"].map["[[threeId]]"].children', ng-if='!isThreeNodeBound(child, "[[assetRoot]]")')
				tree-node-unified.collapsed(asset-root='[[assetRoot]]', three-id='{{child}}')

			li(ng-if='threeMaps["[[nodeId]]"] && hasUnboundThreeChild("[[nodeId]]")')
				tree-node-unified.three.collapsed(asset-root='[[nodeId]]', three-id='{{threeMaps["[[nodeId]]"].id}}', label='unbound-nodes')
